@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308, #0b3317);
}

.left-text{
    flex-basis: 30%;
}
.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px ;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading{
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}

.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}


.box:hover{
    background-color: #999;
    background-position: center;
}

/* Media query for width */

@media screen and (max-width:1024px) {
    .container {
        flex-direction: column;
        padding-block: 20px;
    }
    .gallery {
        width: 100%;
        padding-inline: 12px;
        grid-auto-rows: 220px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }
    .subheading {
        padding: 0px 30px;
    }

}


.img-1 {
    background-image: url('https://images.pexels.com/photos/2843402/pexels-photo-2843402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.img-2 {
    background-image: url('https://images.pexels.com/photos/15014165/pexels-photo-15014165/free-photo-of-woman-walking-on-pathway-in-the-woods.jpeg?auto=compress&cs=tinysrgb&w=1600');
}
.img-3 {
    background-image: url('https://images.pexels.com/photos/1032650/pexels-photo-1032650.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.img-4 {
    background-image: url('https://images.unsplash.com/photo-1525939864518-b53937989bbd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80');
}
.img-5 {
    background-image: url('https://images.unsplash.com/photo-1549880181-56a44cf4a9a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
}
.img-6 {
    background-image: url('https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.img-7 {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80');
}